extends layout 

block content 
  h1= item.name
  h2(style='font-size:1.3rem; color: #888')= item.description

  if item_stock.length
    p(style='text-align:center; color: #f55') #[strong Delete the following stock before attempting to delete this item]
    div.container
      each item in item_stock 
        div.stock-card
          if item.good_type != null && item.size != null
            p #[strong Type:] #{item.good_type} 
            p #[strong Size:] #{item.size}
          else if item.good_type == null && item.size != null
            p #[strong Size:] #{item.size} 
          else if item.good_type != null && item.size == null 
            p #[strong Type:] #{item.good_type}
          p #[strong Price:] $#{item.price}
          if item.number_in_stock === 0
            p.out-of-stock OUT OF STOCK
          else 
            p(style='margin-bottom:15px') #[strong Number In Stock:] #{item.number_in_stock}

          hr
          p.links
            a(href='') Delete Stock
  else
    p(style="text-align:center") Do you really want to delete this item?
    
    form.del-form(method='POST' action='')
      input#authorid.form-control(type='hidden', name='itemid', required='true', value=item._id )

      button(style='margin-top:20px; color: #fff; background-color: #f44', type='submit') Delete